<div class="container">
  <div class="card mx-auto">

    <div class="card-header">
      Login to the Staffing Calendar
    </div>

    <div class="card-body">
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <input class="input" placeholder="Your Name" [(ngModel)]="username" name="username" required>
            </td>
          </tr>
          <tr>
            <td>
              <input class="input" placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </td>
          </tr>
        </table>
      </form>

      <button mat-raised-button (click)="login()" color="primary">Login</button>

    </div>

  </div>
</div>