<div>
  <mat-toolbar color="primary">
    <span class="stuck-in-the-middle"></span>
    Currently logged in as {{theName}}
  </mat-toolbar>
</div>

<div class="container">
  <div style="text-align:center">

    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Choose which night you're signing up to staff/shadow:</ng-template>
        <div *ngIf="isDataAvailable">

          <div *ngFor="let cut of eventsList; let i=index" (click)="selectRow(i, stepper)">
            <div class="card">
              <div class="card-body">
                {{cut.summary}} <br> {{cut.start.dateTime | date}}, {{cut.start.dateTime | date: 'shortTime'}} to
                {{cut.end.dateTime | date: 'shortTime'}}
              </div>
            </div>
            <br>
          </div>
        </div>

      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <div *ngIf="isDataAvailable">

          <ng-template matStepLabel>What position?</ng-template>
          You chose to staff on:<br><br>
          {{eventsList[theNum].summary}} <br> {{eventsList[theNum].start.dateTime | date}},
          {{eventsList[theNum].start.dateTime
          | date: 'shortTime'}} to {{eventsList[theNum].end.dateTime | date: 'shortTime'}}
          <br><br>
          What will you be doing?<br><br>
          <button mat-raised-button color="primary" (click)="addPerson(stepper, 'Staffing')">Staffing</button>
          <span style="display:inline-block; width: 20px;"></span>
          <button mat-raised-button color="primary" (click)="addPerson(stepper, 'Shadowing')">Shadowing</button>

        </div>
      </mat-step>


      <mat-step [stepControl]="thirdFormGroup">
        <div *ngIf="isDataAvailable">

          <ng-template matStepLabel>Confirm Your Selection</ng-template>
          The Calendar Event will now read:<br><br>

          {{newSummary}} <br><br>

          <button mat-raised-button color="primary" (click)="pushIt()">Let's Do It!</button>

          <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        </div>

      </mat-step>

    </mat-vertical-stepper>

  </div>